* { 
	margin: 0px;   padding: 0px; }
body {
	margin: 0%;
	height: 100%;
	display: flex;
	flex-direction:column;
	align-items:center;
	font: 16px sans-serif;
	color: #5d5d5d;
}

button{
	width: 100px;
	height: 3em;
	border-radius: 3px solid;
	outline: none;
	color: white;
	background-color: blue;
}
header{
	width: 100%;
    border: 1px solid;
}

.form-container{
	height: 400px;
	width: 100%;
	display: inherit;
	flex-direction: inherit;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	
}
#paso1{
	width: 100%;
	
}
#paso1 h1{
	text-align: center;
}
#paso1 p{
	text-align: center;
}	

